* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #dbd1b3;
}

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
  align-items: center;
}

.trybewarts-login input {
  border-radius: 8px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  height: 40px;
  padding: 0 15px;
  width: 75%;
}

.trybewarts-login button {
  background-color: rgba(109, 0, 209);
  border-radius: 8px;
  border-style: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  height: 40px;
  padding: 0 15px;
  width: 35%;
}

.trybewarts-login button:hover {
  background-color: rgb(109, 0, 190);
}

.main-content {
  display: flex;
}

.form-principal {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  display: inline;
  width: 141px;
}
