* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(233, 235, 238);
}

h1 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dbd1b3;
}

footer {
  background-color: #5b5847;
  bottom: 0;
  color: #dbd1b3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  padding: 15px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  display: flex;
  height: 70px;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
  align-items: center;
}

.trybewarts-login input {
  border-radius: 8px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  height: 40px;
  padding: 0 15px;
  width: 95%;
}

.trybewarts-login button {
  background-color: rgba(109, 0, 209);
  border-radius: 8px;
  border-style: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  height: 40px;
  padding: 0 15px;
  width: 35%;
}

.trybewarts-login button:hover {
  background-color: rgb(109, 0, 150);
}

.main-content {
  display: flex;
}

#evaluation-form {
  background-color: rgb(233, 235, 238);
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 675px;
}

#evaluation-form button {
  background-color: rgba(109, 0, 209);
  border: none;
}

#evaluation-form button:hover {
  background-color: rgb(109, 0, 150);
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  display: inline;
  width: 190px;
}
